/*
 * Empty Stylesheet file.
 */

.root {
    
    
}

.board-pane {
    -fx-background-image: url("./src/main/java/resources/img/PropertyTycoon.png");
}

.grid-pane {
    
}

.h-box {
    
}

.v-box {
    
}

.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

.button:hover {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
    -fx-border-color: black;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

.list-view {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

.list-view:active {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
    -fx-border-color: black;
}
